<div class="container p-4 mt-5">
  <div class="row">
    {{#each notes}}
    <div class="col-md-3">
      <div class="card addradius shadow-sm">
        <div class="card-header">
          <h4 class="card-title d-flex justify-content-between  align-items-center">
            {{ title }}
          </h4>
        </div>
        <div class="card-body">
          
          <p>{{ description }} </p>
         

          <div class="row">
            <div class="col-md-6 ">
                <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="btn btn-danger mb-3 btn-lg btn-block addradius">Borrar</button>
          </form>    
            </div>

            <div class="col-md-6 ">
                <a href="/notes/edit/{{_id}}" class="btn btn-primary mb-3 btn-lg btn-block addradius" role="button" aria-pressed="true">Editar<br></a>
           </div>

          </div>


        </div>
      </div>
    </div>
    
    {{else}}
    
    <div class="alert alert-warning alert-dismissible fade show shadow-sm addradiusalt " role="alert">
      <p>Aun no tienes ninguna nota.</p>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">x</span>
      </button>
    </div>
      
    
    
    {{/each}}
  </div>

  <div class="m-4 center">
    <a href="/notes/add" class="btn btn-primary btn-lg addradius shadow-sm">Agregar nota</a>
    </div>
  

</div>